extends includes/layout.pug

block append modals
	#record-modal.modal.fade(tabindex='-1')
		.modal-dialog
			.modal-content
				.modal-header
					h5.modal-title Create User
					button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')

				.modal-body
					form#record-form(novalidate)
						.mb-3
							label.form-label(for='record-name') Name
							input#record-name.form-control(type='text', name='name', required)
							.invalid-feedback Required.

						.mb-3
							label.form-label(for='record-email') Email
							input#record-email.form-control(type='email', name='email', required)
							.invalid-feedback Required.

						.mb-3
							label.form-label.d-flex.align-items-center(for='record-password')
								p.mb-0 Password&nbsp;
								i.bi.bi-info-circle(style={ 'font-size': '0.75rem' }, tabindex='0', data-bs-toggle='popover', data-bs-trigger='hover focus', data-bs-content='Leave this field empty to keep the current password.')
							input#record-password.form-control(type='password', name='password', minlength='5', required)
							.invalid-feedback Required.

						.mb-3
							.form-check.form-check-inline
									input#record-elevated.form-check-input(type='checkbox', name='elevated')
									label.form-check-label(for='record-elevated') Elevated

						p.text-danger.mb-0.d-none Duplicate name or email.

				.modal-footer
					button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
					button.btn.btn-primary(type='submit', form='record-form') Submit

block content
	include mixins/link

	h4 Settings
	p.text-muted Create and manage system accounts.

	.table-responsive
		table#record-table.table.table-striped.text-nowrap
			thead.table-dark
				tr
					th(scope='col') Name
					th(scope='col') Email
					th(scope='col') Elevated
					th(scope='col', style={ 'width': 0 })
						if user.elevated
							a.link-light(href='about:blank', role='button', aria-label='Create Record', data-bs-toggle='modal', data-bs-target='#record-modal'): i.bi.bi-plus-square
					if user.elevated && records.length > 1
						th(scope='col', style={ 'width': 0 })

			tbody
				each record, index in records
					tr(data-record-id=record.id)
						td=record.name
						td=record.email
						td: i.bi(class=record.elevated ? 'bi-check' : 'bi-dash')
						td: if user.elevated || user.id === record.id
							a.link-dark(href='about:blank', role='button', aria-label='Update Record', data-bs-toggle='modal', data-bs-target='#record-modal', data-record-id=record.id, data-current=(user.id === record.id)): i.bi.bi-pencil
						if user.elevated && records.length > 1
							td: if user.id !== record.id
								a.link-dark(href='about:blank', role='button', aria-label='Delete Record', data-record-id=record.id): i.bi.bi-trash

	nav.d-flex.align-items-center.pb-1(aria-label='Table Pagination')
		+link((page === 1)).btn.btn-dark.me-2(href='?page=1', role='button'): i.bi.bi-chevron-double-left
		+link((page === 1)).btn.btn-dark.me-auto(href='?page=' + (page - 1), role='button'): i.bi.bi-chevron-left

		p.me-auto.mb-0 Page #[strong #{page}] of #[strong #{pages}]

		+link((page === pages)).btn.btn-dark.me-2(href='?page=' + (page + 1), role='button'): i.bi.bi-chevron-right
		+link((page === pages)).btn.btn-dark(href='?page=' + pages, role='button'): i.bi.bi-chevron-double-right

block append scripts
	script(src='/js/settings.js')
